{
  "env": {
    "SEATS_AERO_API_KEY": "",
    "SERPAPI_API_KEY": "",
    "RAPIDAPI_KEY": "",
    "AWARDWALLET_API_KEY": "",
    "AWARDWALLET_USER_ID": "",
    "DUFFEL_API_KEY_LIVE": "",
    "LITEAPI_API_KEY": "",
    "ENTUR_CLIENT_NAME": "",
    "RESROBOT_API_KEY": ""
  }
}
